{% extends "layout.html" %}

{% block content %}
<section class="main">
    
<section class="articles">
        <article>
            <h2>Gatos</h2>
            <p>Los gatos son animales independientes y llenos de personalidad. En nuestra tienda de animalitos, encontrarás una variedad de productos para gatos, desde alimentos premium hasta juguetes y accesorios que harán feliz a tu felino.</p>
            <img src="/static/Got.jpg" width="200px">
       </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> Exámenes de salud felina: Revisiones completas para evaluar la salud general del gato, incluyendo chequeos de peso, temperatura, frecuencia cardíaca y respiratoria, así como exámenes físicos detallados.

        Vacunación felina: Administración de vacunas específicas para gatos para proteger contra enfermedades comunes como la rabia, el herpesvirus felino, la calicivirus felino y la panleucopenia felina.
        
        Esterilización y castración: Procedimientos quirúrgicos para esterilizar o castrar a los gatos, ayudando a controlar la población felina y prevenir problemas de salud y comportamiento.
        
        Tratamiento de enfermedades felinas: Diagnóstico y tratamiento de enfermedades específicas de los gatos, como enfermedades respiratorias, enfermedades del tracto urinario, enfermedades de la piel y problemas dentales.
        
        Cuidado dental felino: Limpiezas dentales profesionales, extracciones de dientes y tratamiento de enfermedades dentales para mantener la salud oral de los gatos.
        
        Desparasitación interna y externa: Tratamientos para eliminar parásitos internos como lombrices y parásitos externos como pulgas y garrapatas, que pueden afectar la salud de los gatos.
        
        Cuidado geriátrico felino: Atención especializada para gatos mayores, incluyendo exámenes de salud geriátricos, manejo del dolor, tratamiento de enfermedades crónicas y recomendaciones de cuidado en el hogar.
        
        Asesoramiento nutricional: Recomendaciones de dietas adecuadas para gatos según su edad, tamaño, peso y necesidades específicas de salud.
        
        Servicios de alojamiento y cuidado: Ofrecimiento de instalaciones de alojamiento y cuidado para gatos durante períodos de ausencia de los dueños, incluyendo servicios de alimentación, limpieza y atención médica si es necesario.
        
        Microchipado y registro de identificación: Colocación de microchips de identificación para gatos perdidos o extraviados, y registro en bases de datos para facilitar su retorno a casa en caso de pérdida.
        <br>
     
      
</aside>
  
</body>
</html>
{% endblock %}