{% extends "layout.html" %}
{% block content %}

<section class="main">
    
<section class="articles">
        <article>
            <h2>Perros</h2>
            <p>Los perros son una parte importante de nuestras vidas. Son leales, cariñosos y protectores. En nuestra clínica veterinaria, ofrecemos servicios de atención médica, vacunación, esterilización y más para asegurar la salud y el bienestar de tu perro.</p>
            <img src="/static/Kik.jpg" width="200px">
       </article>
        <article>
           <h2>Gatos</h2>
            <p>Los gatos son animales independientes y llenos de personalidad. En nuestra tienda de animalitos, encontrarás una variedad de productos para gatos, desde alimentos premium hasta juguetes y accesorios que harán feliz a tu felino.</p>
            <img src="/static/Gat.jpg" width="200px">
        </article>
        <article>
           <h2>Pájaros</h2>
            <p>Los pájaros son mascotas encantadoras que alegran cualquier hogar con sus melodiosos cantos y colores brillantes. En nuestra veterinaria, ofrecemos servicios de cuidado especializado para aves, así como una selección de jaulas, alimentos y juguetes para mantener a tus pájaros felices y saludables.</p>
            <img src="/static/Paj.jpg" width="200px">
        </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p>"¡Vacúnalo a tiempo y manténlo sano!"

        "Revisa sus orejas y dientes regularmente."

        "Evita que coma chocolate y huesos de pollo."

        "Pasea a tu amigo peludo todos los días."

        "Consulta al veterinario ante cualquier cambio."

        "Mantén su collar con identificación actualizada."

        "Cepilla su pelaje para evitar nudos y suciedad."

        "Usa productos antipulgas recomendados."

        "Controla su peso con una dieta balanceada."

        "¡No olvides su agua fresca y limpia siempre!"
      
</aside>
    
  
<footer>
    <p>Este es el pie de página</p>
</footer>
  
</body>
</html>
{% endblock %}