{% extends "layout.html" %}

{% block content %}
<section class="main">
    
<section class="articles">
        <article>
            <h2>Pájaros</h2>
            <p>Los pájaros son mascotas encantadoras que alegran cualquier hogar con sus melodiosos cantos y colores brillantes. En nuestra veterinaria, ofrecemos servicios de cuidado especializado para aves, así como una selección de jaulas, alimentos y juguetes para mantener a tus pájaros felices y saludables.</p>
            <img src="/static/Poj.jpg" width="200px">
       </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> Consultas de salud aviar: Exámenes regulares para evaluar la salud general del ave, incluyendo chequeos físicos, análisis de sangre y evaluación del plumaje.

        Corte de uñas y pico: Los pájaros necesitan que se les recorte las uñas y el pico regularmente para prevenir lesiones y problemas de alimentación.
        
        Cuidado dental: Al igual que los mamíferos, los pájaros también pueden desarrollar problemas dentales. La veterinaria puede realizar limpiezas dentales y tratar problemas como el sobrecrecimiento del pico.
        
        Ajuste de alas: Algunos propietarios de aves optan por recortar las plumas de las alas para evitar que vuelen. Este servicio debe realizarse con cuidado y por un profesional.
        
        Tratamiento de enfermedades aviares: Diagnóstico y tratamiento de enfermedades comunes en aves, como infecciones respiratorias, problemas gastrointestinales y enfermedades parasitarias.
        
        Desparasitación: Los pájaros pueden verse afectados por parásitos internos y externos. La veterinaria puede recetar tratamientos antiparasitarios adecuados.
        
        Asesoramiento nutricional: Proporcionar recomendaciones sobre una dieta equilibrada y adecuada para cada tipo de ave, incluyendo opciones de alimentos frescos, semillas y suplementos vitamínicos.
        
        Educación y manejo del comportamiento: Ofrecer consejos sobre cómo manejar problemas de comportamiento, como el picoteo excesivo, la vocalización excesiva o la agresión.
        
        Alojamiento y cuidado del ambiente: Proporcionar orientación sobre el alojamiento adecuado para aves, incluyendo la jaula, el perchero, los juguetes y el ambiente en general.
        
        Asistencia reproductiva: Si el propietario desea criar aves, la veterinaria puede ofrecer orientación sobre el manejo de la reproducción, la incubación de huevos y el cuidado de los polluelos.
        <br>
    </p>
      
</aside>
  
</body>
</html>
{% endblock %}