{% extends "layout.html" %}

{% block content %}

<section class="main">
    
<section class="articles">
        <article>
            <h2>Perros</h2>
            <p>Los perros son una parte importante de nuestras vidas. Son leales, cariñosos y protectores. En nuestra clínica veterinaria, ofrecemos servicios de atención médica, vacunación, esterilización y más para asegurar la salud y el bienestar de tu perro.</p>
            <img src="/static/TB.jpg" width="200px">
       </article>
</section>  
</section> 
<aside>
    <h3> Avisos:</h3>
    <p> Consultas veterinarias: Revisiones generales de salud, chequeos periódicos, y atención médica para enfermedades y lesiones.

        Vacunación: Programas de vacunación personalizados según la edad, estilo de vida y necesidades específicas de cada perro.

        Desparasitación: Tratamiento y prevención de parásitos internos y externos, como gusanos intestinales, pulgas y garrapatas.

        Esterilización y castración: Cirugías para controlar la reproducción y prevenir problemas de salud y comportamiento en perros.

        Cirugía general: Procedimientos quirúrgicos para tratar condiciones médicas, como extracción de tumores, castración, y corrección de fracturas.

        Odontología: Limpieza dental profesional, extracción de dientes dañados, y tratamiento de enfermedades periodontales.

        Cuidado geriátrico: Programas de salud y bienestar adaptados a perros mayores, incluyendo exámenes de salud, manejo del dolor y atención especializada.

        Dermatología: Diagnóstico y tratamiento de problemas de la piel, como alergias, infecciones y enfermedades cutáneas.

        Nutrición: Asesoramiento nutricional, recomendaciones de dieta y planes de alimentación para perros con necesidades especiales o condiciones médicas.
        
        Cuidado de emergencia: Atención médica inmediata para perros que sufren de lesiones, envenenamiento, o emergencias médicas repentinas.
      
</aside>
</body>
</html>
{% endblock %}